.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  border: none;
  border-bottom: rgba(0, 0, 0, 1) solid 1px;
}
