.card__section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__name {
  text-align: center;
  border-radius: 4px;
  background-color: white;
  padding: 2px 12px;
}

.card__image {
  width: 325px;
  height: 328px;
  max-width: 325px;
  max-height: 328px;
  border-radius: 10px;
  cursor: pointer;
}
.card__image-container {
  position: relative;
}
.card__header {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  left: 35%;
  top: 15px;
}
.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__like-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.card__like-button-inactive {
  visibility: hidden;
}

.card__like-button:hover {
  opacity: 0.5;
}
