.card__section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__name {
  text-align: center;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
