.card__section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__name {
  text-align: center;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}
.card__image-container {
  position: relative;
}
.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__like-button {
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__like-button-inactive {
  visibility: hidden;
}

.card__like-button:hover {
  opacity: 0.5;
}
